Project: __PROJECTNAME__
Author: __AUTHOR__<__AUTHOR_EMAIL__>
Maintainer: __MAINTAINER__<__MAINTAINER_EMAIL__>
Version: __VERSION__
StartDate: __STARTDATE__
EndDate: __ENDDATE__
Depends: __DEPENDS__
Description: __DESCRIPTION__
